// Place all the styles related to the admins/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main.admin_wrapper{
	padding: 0;
	margin: 0;
}
main.admin_wrapper::after{
	content: '';
	background-color: #efefef;
	background-image: none;
}