// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#date{
	margin-left: 20px;
}



.box-style-block{
	width: 30%;
	display: block;
    text-align: center;
}
.box-style-block > a + p{
	font-size: 0.7rem;
}
.everyone{
	width: 70%;
    text-align: center;
    margin: 20px auto;
    padding-bottom: 10px;
    font-size: 25px;
    border-bottom: double 4px gray;
}
/*event親要素（一番外）*/
.events-wrapper{
	position: relative;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	padding: 30px 0 60px 0;
}

.non_event{
	position: absolute;
	top: 200%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: gray;
	text-align: center;
}

.user-image{
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.posted-date{
	position: absolute;
    top: -20px;
    right: 0px;
    font-size: 0.8rem;
    opacity: 0.5;
}
.event-box{
	position: relative;
	display: flex;
	width: 100%;
	height: 200px;
	border-radius: 3px;
	margin: 0 0 50px 0;
	background-color: #fdfbfb;
	/*app.scss内に.box-shadowあり*/
}
.event-box::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: url("/images/footer-image2.jpg");*/
	background-attachment: fixed;
	opacity: 0.5;
}
.event-user-image{
	width: 100px;
	height: 100px;
	margin-top: 40px;
	border-radius: 5px;
	object-fit: cover;
	flex-direction: row;
	justify-content: space-around;
}
.event-status{
	font-size: 1rem;
	width: 400px;
}
.event-title{
	display: block;
	/*color: #333399;*/
	font-size: 1.5rem;
	margin: 10px;
}
.event-info{
	width: 70%;
	max-height: 100%;
	justify-content: space-around;
	padding: 10px 40px 10px 20px;
}
.event-description{
	width: 95%;
	margin: 0 auto;
	font-size: 16px;
}


.event-form-wrapper{
	width: 40%;
	padding: 20px 0 100px 0;
	margin: 0 auto;
}
.event-form-box{
	padding: 40px 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-label{
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bold;
}

/*events#show*/

.content-wrapper{
	display: flex;
	width: 70%;
	min-height: 100vh;
	margin: 30px auto 0;
}
/*画面左半分イベント詳細*/
.event-info-wrapper{
	width: 60%;
	padding: 0 50px 0 10px;
	justify-content: center;
}
.organizer{
	margin-top: 20px;
}
.organizer-info-box{
	width: 100%;
}

.organizer-image{
	position: absolute;
	top: -35px;
	left: -35px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: solid 5px silver;
}
.organizer-name{
	font-weight: bold;
	font-size: 18px;
}

.organizer-introduction{
	width: 100%;
	margin-left: 10px;
	justify-content: center;
}
.organizer-introduction2 {
    position: relative;
    width: 80%;
    min-height: 100px;
    margin: 40px auto 30px;
    padding: 0 0 0 40px;
    background-color: silver;
    border-radius: 5px;
}
.organizer-introduction2 .event-index{
	display: inline-block;
    position: absolute;
    top: -29px;
    left: 25px;
    font-size: 0.8rem;
    padding: 2px 30px;
    background-color: #242424;
    color: #efefef;
    border-radius: 0 30px 0px 0;
}
.introduce-text{
	font-size: 15px;
	padding: 10px;
}
.description{
	min-height: 100px;
	max-height: 200px;
	padding: 10px;
	/*background-color: #f5ecf4;*/
}

.join{
	color: #504946;
	padding: 5px 15px;
	display: inline-block;
	font-size: 0.8rem;
	background-color: pink;
}



/*画面右半分コメントコンテンツ*/
.comments-wrapper{
	position: relative;
	width: 50%;
	justify-content: center;
}
.view-comments-box{
	width: 100%;
	height: 450px;
	padding: 30px 0 50px 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.view-comments-box::after{
	/*content: '';*/
	display: inline-block;
	position: absolute;
	top: 400px;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(transparent, #f5f5f5);
	z-index: 1000;
}
.comment-box{
	font-size: 0.8rem;
	resize: none;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	height: 150px;
	color: #504946;
	border-radius: 5px;
	border-color: #efefef;
}

.comment-box:focus{
	outline: 0;
}
.t-head{
	width: 110px;
}
.t-head, .t-data{
	padding: 15px;
}
.t-data a{
	font-size: 0.9rem;
	display: inline-flex;
}

.reception-wrapper{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0 0 10px;
}
.transmission-wrapper{
	display: flex;
	justify-content: flex-start;
	margin: 20px 10px 0 0;
}
.user-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
.send-user{
	max-width: 90px;
}
.send-user > p{
	font-size: 0.7rem;
}
.comment{
	display: inline-block;
	position: relative;
	max-width: 260px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
}

.comment a:hover{
	color: #0766ff;
}
.reception{
	display: table;
	background-color: white;
	margin-right: 25px;
}
.reception:before{
	content: "";
    position: absolute;
    top: 10px;
    right: -40px;
    width: 10px;
    height: 10px;
    border-top: solid 7px transparent;
    border-left: solid 20px white;
    border-bottom: solid 7px transparent;
    border-right: solid 25px transparent;
}
.send-date{
	font-size: 12px;
    margin: 12px 12px 0 0;
    line-height: 14px;
}
.send-date .far{
	position: relative;
	margin-top: 7px;
	opacity: 0.7;
	transition: 200ms;
}
.send-date .far::after{
	opacity: 0;
	position: absolute;
	top: 0;
	right: -25;
	width: 30px;
	content: "削除";
	font-size: 0.6rem;
}
.send-date .far:hover,
.send-date .far:hover::after,{
	opacity: 1;
}

.transmission{
	display: table;
	margin-left: 25px;
	background-color: #00a1e9;
	color: white;
}
.transmission:before{
	content: "";
    position: absolute;
    top: 10px;
    left: -40px;
    width: 10px;
    height: 10px;
    border-top: solid 7px transparent;
    border-left: solid 20px transparent;
    border-bottom: solid 7px transparent;
    border-right: solid 25px #00a1e9;
}
.receive-date{
	text-align: right;
    font-size: 12px;
    line-height: 14px;
    margin: 12px 0 0 12px;
}

.send{
	padding: 10px 30px;
	display: inline-block;
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	background-color: limegreen;
}

/*.new > textarea{
	min-width: 100%;
	min-height: 200px;
}*/
.new-event-description{
	min-width: 100%;
	min-height: 200px;
}
textarea{
	/*min-width: 100%;
	min-height: 200px;*/
	padding: 5px;
	border-radius: 5px;
	border-color: #dedede;
	outline: 0;
	color: #504946;
	resize: none;
}
.field select{
	width: 100%;
	font-size: 1rem;
	height: 40px;
	border-color: #dedede;
}
.date-custom{
	position: relative;
	z-index: 0px;
}

input[type="date"]{
	/*position: relative;*/
	padding: 0 10px;
	margin-left: 50px;
	width: 150px;
	height: 36px;
	border: 0;
	background: transparent;
	box-sizing: border-box;
	font-size: 1.0rem;
}
input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	width: 120px;
	height: 38px;
	border-radius: 5px;
	background-color: transparent;
	color: transparent;
	cursor: pointer;
	/*z-index: 1000;*/
}
.snowman{
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 15%;
}